@import '../../../../styles/Mixins.scss';
@import '../../../../styles/Variables.scss';

.wrapper {
    background: red;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    height: calc(90dvh - 7rem);
    & > div {
        @include flex(center, flex-start);
        background-attachment: fixed;
        background-image: linear-gradient(to bottom, $quinary, $quinary, $primary);
        grid-column: 1/12;
        padding: 4rem;
        & > hgroup {
            @include flex(flex-start, flex-start, column, null, 1rem);
            & > * {
                font-family: $fontSpecial;
                text-shadow: 2rem 2rem 2rem rgba($quatenary, 0.3);
            }
            & > h1 {
                @include font(20rem, 900, 1, null, -1px, start);
            }
            & > h2 {
                @include font(10rem, 900, 1, null, -1px, start);
            }
        }
    }

    & > figure {
        grid-column: 12/-1;
        background: lime;
        position: relative;
        & > video {
            @include size(100%, 100%);
            object-fit: cover;
            object-position: center;
        }
    }
}
