@import '../../../styles/Mixins.scss';
@import '../../../styles/Variables.scss';

.wrapper {
    @include grid(null, null, repeat(12, 1fr), null, 0.12rem, 0.12rem);
    @include size(clamp(5rem, 7rem, auto), 100%);
    background-color: rgba($background, 0.95);
    backdrop-filter: blur(1.75px);
    color: $color;
    overflow: hidden;
    position: fixed;
    transition: 0.25s ease-in-out background-color;
    z-index: 999;
    &[data-open-menu='open'] {
        background-color: rgba($tertiary, 0.95);
        & > .menu {
            height: calc(100dvh - 8.75rem);
        }
    }
}

.brand,
.settings {
    grid-row: 1;
    height: 8.75rem;
}

.brand {
    grid-column: 1/4;
}

.settings {
    @include flex(center, flex-end, row nowrap, 0.6rem, null, true);
    grid-column: 4/-1;
    padding: 0 2rem 0 1rem;
}

.menu {
    grid-column: 1/-1;
    grid-row: 2;
    height: 0;
    transition: 0.25s ease-in-out height;
}

@media only screen {
    @media (min-width: 412px) and (orientation: landscape) {
        .wrapper {
            &[data-open-menu='open'] {
                & > .menu {
                    height: calc(100dvh - 6.5rem);
                }
            }
        }
        .brand,
        .settings {
            height: 6.5rem;
        }
    }
    @media (min-width: 900px) {
        .wrapper {
            grid-template-columns: repeat(23, 1fr);
            height: 7rem;
            overflow: visible;
            & > * {
                height: 7rem !important;
            }
        }
        .brand {
            grid-column: 1/4;
        }
        .menu {
            grid-column: 4/23;
            grid-row: 1;
        }
        .settings {
            grid-column: 23/-1;
        }
    }
    @media (min-width: 1440px) {
        .wrapper {
            height: 8rem;
            &[data-open-menu='close'],
            &[data-open-menu='open'],
            & > * {
                height: 8rem !important;
            }
        }
    }
    @media (min-width: 1500px) {
        .wrapper {
            height: 8.45rem;
            &[data-open-menu='close'],
            &[data-open-menu='open'],
            & > * {
                height: 8.45rem !important;
            }
        }
    }
}
