@import '../../../styles/Mixins.scss';
@import '../../../styles/Variables.scss';

.wrapper {
    @include size(clamp(7.2rem, 7.2rem, auto), 100%);
    background-color: rgba($quatenary, 0.85);
    backdrop-filter: blur(0.6rem);
    box-shadow: 0 1rem 1rem rgba($quatenary, 0.5);
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: 2.2rem 5rem auto;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 999;
    &[data-open-menu='close'] {
        & > .menu {
            height: 0;
        }
    }
    &[data-open-menu='open'] {
        background-color: rgba($quatenary, 1);
        & > .menu {
            height: calc(100vh - 7.2rem);
        }
    }
}
.location {
    grid-column: 6/-1;
    grid-row: 1;
    & > a {
        @include flex(center, flex-end, row nowrap, 0.74rem);
        @include size(100%, 100%);
        color: $color;
        transition: 0.12s ease-in-out color;
        &:focus-within,
        &:hover {
            color: $secondary;
        }
    }
}

.brand {
    grid-column: 1/6;
    grid-row: 1/3;
}
.menu {
    grid-column: 1/-1;
    grid-row: 3;
    transition: 0.12s linear height;
}

.settings {
    @include flex(center, flex-end, row nowrap);
    grid-column: 6/-1;
    padding: 0rem 0.75rem;
    grid-row: 2;
}

@media only screen {
    @media (min-width: 900px) {
        .wrapper {
            @include size(clamp(7.9rem, 7.9rem, auto), 100%);
            grid-template-rows: 2.9rem 5rem;
            overflow: visible;
            &[data-open-menu='close'],
            &[data-open-menu='open'] {
                background-color: rgba($quatenary, 0.85);
                & > .menu {
                    height: unset;
                }
            }
        }
        .location {
            grid-column: 4/-1;
            & > a {
                padding: 0.4rem 0.95rem;
            }
        }

        .brand {
            grid-column: 1/4;
            grid-row: 1/3;
        }
        .menu {
            grid-column: 4/20;
            grid-row: 2;
        }

        .settings {
            grid-column: 20/-1;
            padding: 0rem 0.75rem;
        }
    }
    @media (min-width: 1045px) {
        .wrapper {
            @include size(clamp(calc(3.2rem + 6.5rem), calc(3.2rem + 6.5rem), auto), 100%);
            grid-template-columns: repeat(25, 1fr);
            grid-template-rows: 3.2rem 6.5rem;
        }
        .location {
            grid-column: 5/-1;
            & > a {
                padding: 0.4rem 0.95rem;
            }
        }

        .brand {
            grid-column: 1/5;
        }
        .menu {
            grid-column: 5/24;
        }

        .settings {
            grid-column: 24/-1;
            padding: 0rem 1.15rem 0rem 0.12rem;
        }
    }
    @media (min-width: 1550px) {
        .wrapper {
            @include size(clamp(calc(3.2rem + 6.5rem), calc(3.2rem + 6.5rem), auto), 100%);
            grid-template-columns: repeat(31, 1fr);
            grid-template-rows: minmax(3.2rem, auto) minmax(6.5rem, auto);
            row-gap: 0.8rem;
        }
        .location {
            grid-column: 5/-1;
            & > a {
                font-size: 1.9rem;
                padding: 0.2rem 1.95rem;
            }
        }

        .brand {
            grid-column: 1/5;
        }
        .menu {
            grid-column: 5/30;
        }

        .settings {
            grid-column: 30/-1;
            padding: 0rem 1.15rem 0rem 0.12rem;
        }
    }
}
