// @import "../../../../styles/Global.scss";
@import "../../../../styles/Mixins.scss";
// @import "../../../../styles/Utils.scss";
@import "../../../../styles/Variables.scss";


@keyframes animatedBackground {
    0% {
        background-color: rgba($tangelo,0);
    }
   
    20%, 95% {
        background-color: rgba($tangelo,1);
    }
}

.wrapper {
    animation: animatedBackground 4s ease-in-out ;
    animation-range-start: cover 0%;
    animation-range-end: cover 120%;
    animation-timeline: view(y);
    margin: 5rem 0rem;
    padding: 12rem 1rem;
    transition:.12s linear background-color;
}

.container {
    padding: .2rem;
    & >* {
        margin: auto;
    }
    & > *:not(.cards){
        text-wrap: balance;
        width:clamp(5rem,120rem,90%);
    }

    & > .title {
        @include font(6.15rem,900,1.2,null,null,start,$fontAnton);
    }

    & > .content, & > .excerpt {
        @include font(1.75rem,500,1.92,null,-.12px,start);
        margin: 1rem auto;
        padding: 0.45rem;
    }

}

.cards {
    @include flex(center,center,row wrap,1.5rem,1.5rem);
    gap:1rem;
    margin: 3rem auto;
}

.card {
    @include backgroundCover();
    @include flex(flex-start,flex-start,column,null,1rem);
    @include size(auto, 100%);
    background-blend-mode: color;
    background-color: rgba($black,.6);
    padding: 4rem 1rem;
    transition:.12s linear background-color;

    &:hover {
        background-color: $black !important;
    }


    & > .title {
        @include font(3.3rem,600,null,null,null,start,$fontBlackOps);
        align-items: center;
        grid-area: title;
        justify-content: flex-start;
        padding:.6rem 1rem;
    }

    & > .button__wrapper {
        align-items: flex-end;
        grid-area: button;
        justify-content: flex-start;
        padding:0rem 2rem;
        & > .button {
            @include font(2.1rem,700);
            border-radius: .7dvw;
            background-color:$white;
            color: $black;
            display: flex;
            padding: .65rem 2rem;
        }
    }


    & > .content {
        @include font(1.7rem,400,null,null,null,start);
        align-items: center;
        grid-area: content_box;
        justify-content: center;
        padding: .6rem;
        text-wrap: balance;
    }
}

@media only screen {
    @media (min-width:585px){
        .wrapper {
            padding: 12rem 1rem;
        }

        .container {
            & > .title {
                font-size: 9rem;
            }
            & > .content, & > .excerpt {
                font-size: 1.9rem;
            }
        }

        .card {
            @include size(minmax(35rem,auto), 45rem);
            padding:2rem;
            & > .title {
                font-size: 4.4rem;
            }

            & > .button__wrapper {
                & > .button {
                    font-size: 2.2rem;
                }
            }
            & > .content {
                font-size: 1.72rem;
            }
        }
    }
    @media (min-width:800px){
        .wrapper {
            padding: 12rem 1rem;
        }

        .container {
            & > .title {
                font-size: 9rem;
            }
            & > .content, & > .excerpt {
                font-size: 1.9rem;
            }
        }

        .card {
            @include size( 45rem, 45rem);
            padding:4rem 2rem;
            & > .title {
                font-size: 4.4rem;
            }

            & > .button__wrapper {
                & > .button {
                    font-size: 2.2rem;
                }
            }
            & > .content {
                font-size: 1.82rem;
            }
        }
    }
    @media (min-width:1300px){
        .wrapper {
            margin: 11rem 0rem;
            padding: 16rem 1rem;
        }
          .container {
            & > .title {
                font-size: 14rem;
            }
            & > .content, & > .excerpt {
                line-height: 2.3;
            }
        }
    }
}