$primary: rgb(253, 0, 0);
$secondary: rgb(238, 123, 0);
$tertiary: rgb(31, 31, 31);
$quatenary: rgb(0, 0, 0);
$quinary: rgb(198, 47, 63);
$background: rgb(31, 31, 31);
$color: rgb(255, 255, 255);
$fontRegural: 'Roboto', sans-serif;
$fontSpecial: 'Oswald', sans-serif;
