@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

.wrapper {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 0rem 1rem;
    width:clamp(3rem,150rem,95%);
    margin:3rem auto;
    // background: red;
}