@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

.wrapper {
    @include flex(center,center,row wrap,1rem,1rem);
    padding: 1rem;
}

.item {
    @include font(1.8rem,400,1.2,null,null,center);
    @include flex(center,center);
    border-radius:1rem;
    background-color: #121212;
    padding: 1rem 2rem;
    transition:.1s linear background-color;
    &:focus-within,
    &:hover {
        background-color: #212121;
    }

}