@import "./Mixins.scss";
@import "./Variables.scss";

.blog__container {
    & > ul{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap:1rem;
    }
    @media only screen {
        @media (min-width:700px){
            & > ul {
                grid-template-columns: repeat(2,1fr);
            }
        }
        @media (min-width:1300px){
            & > ul {
                grid-template-columns: repeat(3,1fr);
            }
        }
    }
}


.container {
    margin:2rem auto 4rem;
    width:clamp(5rem,125rem,95%);
}

.services__page {
    display: grid;
    grid-template-columns: repeat(27,1fr);
    width:clamp(5rem,165rem,95%);
    & > article {
        grid-column: 1/-1;
    }
    & > aside {
        display: none;
        grid-column: 20/-1;
        position: relative;
        &>  div {
            @include flex(flex-start,flex-start,column,null,1rem);
            position: sticky;
            top: 13rem;
        }
       
    }

    @media only screen {
        @media (min-width:1100px){
            & > article {
                grid-column: 1/20;
            }
            & > aside {
                display: block;
            }
        }
    }
}

.contact {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin:2rem auto 2rem;
    width:clamp(5rem,125rem,80%);
    gap:1rem;
    & > article {
        @include flex(flex-start,flex-start,column,null,2rem);
        grid-column: 1/7;
        grid-column: 1/-1;
    }
    & > aside {
        @include flex(center,center);
        padding: .2rem;
        grid-column: 7/-1;
        grid-column: 1/-1;
        height: 30rem;

        & > iframe {
            @include size(100%,100%);
            filter:grayscale(100%);
            border:unset;
        }
    }
    @media only screen {
        @media (min-width:1100px){
            & > article {
                grid-column: 1;
            }
            & > aside {
                grid-column: 2;
                height: 100%;
            }
        }
    }
}