@import "./Mixins.scss";
@import "./Variables.scss";

.blog__container {
    & > ul{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap:1rem;
    }
    @media only screen {
        @media (min-width:700px){
            & > ul {
                grid-template-columns: repeat(2,1fr);
            }
        }
        @media (min-width:1300px){
            & > ul {
                grid-template-columns: repeat(3,1fr);
            }
        }
    }
}


.container {
    margin:2rem auto 4rem;
    width:clamp(5rem,125rem,95%);
}

.services__page {
    // background: red;
    display: grid;
    // position: relative;
    grid-template-columns: repeat(27,1fr);
    width:clamp(5rem,165rem,95%);
    & > article {
        grid-column: 1/20;
    }
    & > aside {
        @include flex(flex-start,flex-start,column,null, 1rem);
        position: sticky;
        top: 2rem;
        grid-column: 20/-1;
       
    }
}