@import '../../../../styles/Mixins.scss';
@import '../../../../styles/Variables.scss';

.recommended__wrapper {
    @include size(auto,30rem);
    border-radius: .72rem;
    margin: auto;
    overflow: hidden;
    & > figure {
        aspect-ratio: 4/3.2;
        overflow: hidden;
        position: relative;
        width: 100%;
    }
    & > div {
        @include flex(flex-start, flex-start, column, null, 2rem);
        background-color: #161616;
        padding:2.6rem 2.5rem 3rem 2.5rem;
        & > h4 {
            @include font(2.3rem, 600, 1.1, null, null, start);
        }
        & > p {
            color: #ddd;
            font-size: 1.55rem;
        }
        & > a {
            @include font(1.75rem, 800, 1, null, null, center);
            display: flex;
            position: relative;
            transition: 0.12s linear color;
            &:focus-within,
            &:hover {
                color: orangered;
            }
        }
    }
}

@media only screen {
    @media (min-width: 900px) {
        .recommended__wrapper {
            margin:0 auto;
            width: clamp(27rem, 47rem, 99%);
            // margin: 0;
    // width: 30rem;
        }
    }
}
