@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

.wrapper {
    aspect-ratio: 16/12;
    background-color: rgba($red,0.635);
    display: grid;
    grid-template-columns: repeat(7,1fr);
    position: relative;
    width: 100%;

}

.container {
    grid-column: 2/-1;
    position: relative;
}

@media only screen {
    @media (min-width:750px){
        .wrapper {
            aspect-ratio: 16/9;
        }
    }
    @media (min-width:100px){
        .wrapper {
            aspect-ratio: 16/8;
        }

    }
}