@import '../../../../styles/Mixins.scss';
@import '../../../../styles/Variables.scss';

.wrapper {
    // background: lime;
    display: grid;
    grid-template-columns: repeat(27, 1fr);
    & > * {
        margin-top: 6rem;
        grid-column: 1/-1;
    }
}

.content {
    padding: 2rem 3rem;
}

.title {
    @include font(6.5rem, 900, 0.97, null, 0.6px, start);
    // background: purple;
    color: rgba($primary, 0);
    -webkit-text-stroke: $primary 2px;
}

.items {
    @include flex(flex-start, flex-start, column, null, 1rem);
    margin-top: 1.75rem;
}

.item {
    @include flex(center, flex-start, row nowrap, 0.85rem);
    @include font(1.75rem, 800, null, null, null, start);
    .hours {
        font-weight: 500;
    }

    .day {
        color: $secondary;
    }
}

.map__box {
    height: 35rem;
    position: relative;
    & > .map {
        @include size(100%, 100%);

        border: none;
        outline: none;
        object-fit: cover;
        object-position: center;
    }
}

@media only screen {
    @media (min-width: 900px) {
        .wrapper {
            padding-bottom: 13rem;
            & > * {
                grid-column: 5/23;
            }
        }
        .title {
            @include font(6.5rem, 900, 0.97, null, 0.6px, center);
            font-size: 17rem;
            // background: purple;
            color: rgba($primary, 0);
            -webkit-text-stroke: $primary 5px;
        }

        .items {
            margin: 4rem auto;
            width: clamp(5rem, 75rem, 92dvw);
            padding: 3rem;
        }

        .item {
            @include flex(center, center, row nowrap, 1.85rem);
            @include font(3.15rem, 800, null, null, null, center);
            width: 100%;

            .hours {
                font-weight: 500;
            }

            .day {
                color: $secondary;
            }
        }

        .map__box {
            margin: 5rem auto;
            aspect-ratio: 16/9;
            height: auto;
            overflow: hidden;
            width: clamp(5rem, 115rem, 92dvw);
        }
    }
}
