@import "../../../../styles/Mixins.scss";
@import "../../../../styles/Variables.scss";

.wrapper {
    @include flex(flex-start,flex-start,column,null,.3rem);
    @include size(100%,clamp(5rem,50rem,99%));
    margin:0 auto;
    padding:3rem 2rem;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 0;
    }
}

@media only screen {
    @media (min-width:870px){
        .wrapper {
            @include flex(center,flex-end,row nowrap,.5rem,unset);
            overflow-y: visible;
            padding: 0 5dvw 0 0 ;
            width: 100%;
        }
    }
    @media (min-width:1300px){
        .wrapper {
            padding: 0 2dvw 0 0 ;
        }
    }
}