@import '../../../../styles/Mixins.scss';
@import '../../../../styles/Variables.scss';

.wrapper {
    margin: 5rem 0;
}

.container {
    @include flex(flex-start, flex-start, column, null, 2rem, true);
    margin: 0 auto 0 2rem;
    padding: 0.45rem;
    width: clamp(5rem, 125rem, 95%);
}

.title {
    @include font(12rem, 900, null, null, null, start, $fontAnton);
}

.content {
    @include font(1.74rem, 500, 2.2, null, null, start, null);
    text-wrap: pretty;
    width: 95%;
}

.cards__wrapper {
    margin-top: 5rem;
    padding: .4rem 1rem;
}

.cards {
    @include flex(baseline, center, row wrap, 1rem, 1rem, true);

}

@media only screen {
    @media (min-width: 900px) {
        .cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }
    @media (min-width: 1100px) {
        .cards {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}
