@import '../../../../styles/Mixins.scss';
@import '../../../../styles/Variables.scss';

@keyframes slides {
    from{
        transform:translateX(100%);
    }
    to {
        transform:translateX(-100%);
    }
}

.wrapper {
    width: 100%;
    margin: 2rem 0;
    height: auto;
    overflow-x: hidden;
}

.cards {
    animation: slides 125s infinite linear alternate;
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    grid-template-rows: repeat(2,1fr);
    height: auto;
    width:max-content;

    &:hover {
        animation-play-state: paused;
    }
    
}

.card {
    @include size(12rem, 12rem);
    filter: grayscale(100%) invert(0);
    position: relative;
    transition: 0.2s linear filter;

    &:hover {
        filter: grayscale(0%) invert(0);
    }
    &:nth-of-type(2n){
        margin-left: 12rem;
    }
}
